{% extends 'base.html' %}

{% block title %} All courses {% endblock %}
{% block content %}
<table class="table mt-5 table-bordered table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>title 1</th>
            <th>category 2</th>
            <th>price 3</th>
            <th>students qty 4</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <th><a href="{% url "shop:single_course" course.id %}">{{ course.title }}</a></th>
            <th>{{ course.category }}</th>
            <th>{{ course.price }}</th>
            <th>{{ course.student_qty }}</th>
            <th><button class="btn btn-primary">Buy</button></th>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}